#navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-dark-color);
    color: var(--secondary-color);
    width: 10%;
    min-width: 250px;
}

#navbar h1 {
    font-size: 2.4rem;
    margin: 1rem;
    border-bottom: 0.2rem solid var(--emphasis-color);
}

#navbar ul {
    list-style: none;
}

#navbar li {
    height: 4rem;
    width: auto;
    border-left: 0rem solid var(--emphasis-color);
    transition: border 0.4s;
}

#navbar li.active {
    border-left: 0.6rem solid var(--emphasis-color);
}

#navbar li > a {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    width: auto;
    height: inherit;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.4s;
}

#navbar li.active > a {
    color: var(--emphasis-color);
}

#navbar li:nth-child(2n) {
    border-top: 1px solid var(--emphasis-dark-color);
    border-bottom: 1px solid var(--emphasis-dark-color);
}

#legendControl {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#legendControl > label {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem;
    padding: 0.4rem 0;
    background-color: var(--emphasis-color);
    color: var(--main-color);
}

#legendControl > label:nth-child(2n) {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

#legendControl > label > input {
    font-size: 1.4rem;
    text-align: center;
    width: 50%;
    border: none;
    outline: none;
    background-color: var(--emphasis-dark-color);
    color: var(--main-color);
}
