section {
    display: flex;
    width: 100%;
    height: 100%;
}

.Inputs {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    font-size: 2rem;
    text-align: center;
}

.Inputs * {
    outline: none;
    border: none;
}

.Inputs > div > input {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 2rem;
}

.Inputs > div > div {
    display: flex;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
}

.controlWrapper { 
    display: grid;
    grid-template-columns: 1fr 250px;
    width: inherit;
    height: inherit;
}

.controlWrapper h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

#spaceControl {
    justify-content: center;
    padding: 0 30%;
}

#spaceControl > button {
    position: relative;
    height: 80%;
    width: 10%;
    border: none;
    outline: none;
    transition: 
        background-color 0.3s,
        width 0.3s;
}

#spaceControl > button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3rem;
    width: 1rem;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: all 0.4s;
}

#spaceControl > button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2rem;
    width: 2rem;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #333;
    transition: box-shadow 0.4s, height 0.4s, width 0.4s, background-color 0.1s;
}

#spaceControl > button:hover {
    /* background-color: #ADD; */
}

#spaceControl > button.clicked {
    width: 100%;
}

#spaceControl > button.clicked::before {
    height: 4rem;
    width: 4rem;
    background-color: white;
    box-shadow: 
        0 0 0 0.2rem #333, 
        0 0 0 0.3rem #777,
        0 0 0 0.4rem #999;
}

#spaceControl > button.clicked::after {
    height: 8rem;
    width: 4rem;
}

#spaceControl .display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#wordControl .display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#wordControl .display > input {
    font-size: 3rem;
    width: 80%;
    margin: 0 0.1rem;
    outline: none;
    border: 1px solid #555;
}

#sentenceControl {
    flex-direction: column;
}

#sentenceControl .display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
}

#sentenceControl .display > input {
    font-size: 1.6rem;
    width: 80%;
    outline: none;
    border: none;
    text-align: center;
    border-bottom: 1px solid #555;
}

#storyControl {
    flex-direction: column;
    align-items: flex-start;
    font-size: 3rem;
}

#storyControl .emphasisedWord {
    font-size: 3.2rem;
    color: blue;
}

.arrow {
    --arrow-size: 1rem;
    display: block;
    height: var(--arrow-size);
    width: var(--arrow-size);
    border-bottom: 0.2rem solid #555;
    border-right: 0.2rem solid #555;
    /* background-color: red; */    
    transform: rotate(45deg) translate(-25%, -25%);
}
