section {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--main-dark-color);
}

.Inputs {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    font-size: 2rem;
    text-align: center;
}

.Inputs * {
    outline: none;
    border: none;
}

.Inputs input {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.Inputs > div > input {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 2rem;
}

.Inputs > div > div {
    display: flex;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: 1rem;
    color: var(--secondary-color);
}

.controlWrapper { 
    display: grid;
    grid-template-columns: 1fr 250px;
    width: inherit;
    height: inherit;
}

.controlWrapper h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 2rem;
    color: var(--main-dark-color);
    z-index: 3;
}

#spaceControl {
    justify-content: center;
    padding: 0 10%;
}

#spaceControl > button {
    position: relative;
    height: 80%;
    width: 60%;
    border: none;
    outline: none;
    background-color: transparent;
    transition: 
        background-color 0.3s,
        width 0.3s;
}

#spaceControl > button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--emphasis-color);
    transition: all 0.3s;
}

#spaceControl > button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--main-color);
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all 0.2s;
}

#spaceControl > button:hover::after {
    background-color: var(--emphasis-light-color);
    height: 2.2rem;
    width: 2.2rem;
}

#spaceControl > button.clicked {
    width: 100%;
}

#spaceControl > button.clicked::before {
    height: 4rem;
    width: 2rem;
    background-color: var(--main-color);
    border-radius: 0%;
    box-shadow: 1.1rem 0 0 -0.9rem var(--emphasis-light-color), -1.1rem 0 0 -0.9rem var(--emphasis-light-color);
}

#spaceControl > button.clicked:hover::before {
    width: 1.8rem;
}

#spaceControl > button.clicked::after {
    height: 3rem;
    width: 3rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

#spaceControl .display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#wordControl .display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#wordControl .display > input {
    font-size: 2rem;
    width: 80%;
    margin: 0 0.1rem;
    padding: 0.4rem;
    outline: none;
    border: 1px solid var(--secondary-color);
}

#sentenceControl {
    flex-direction: column;
}

#sentenceControl .display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
}

#sentenceControl .display > input {
    font-size: 1.6rem;
    width: 80%;
    outline: none;
    border: none;
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
}

#storyControl {
    flex-direction: column;
    align-items: flex-start;
    font-size: 3rem;
}

#storyControl .emphasisedWord {
    font-size: 3.2rem;
    color: #3aa;
}

.arrow {
    --arrow-size: 1rem;
    display: block;
    height: var(--arrow-size);
    width: var(--arrow-size);
    border-bottom: 0.2rem solid var(--secondary-color);
    border-right: 0.2rem solid var(--secondary-color);
    /* background-color: red; */    
    transform: rotate(45deg) translate(-25%, -25%);
}
